body {
    background: #F8F8F8;
  }
  
    /*--------------------------------------------------------------
  # Navbar Section
  --------------------------------------------------------------*/
  /*  */
    .navbar-collapse{
    justify-content: flex-end;
    }
    .navbar-toggler{
      background:#11A6F1 !important;
    }
  
    .nav-link , .navbar-brand{
      color: #11A6F1 !important;
      cursor: pointer;
     }
     .nav-link{
      margin-right: 1em !important;
     }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    width: 100%;
    position: relative;
    background: url("../img/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
  }
  
  #intro .intro-img {
    width: 50%;
    float: right;
  }
  
  #intro .intro-info {
    width: 50%;
    float: left;
  }
  
  #intro .intro-info h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro .intro-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
  }
  
  #intro .intro-info .btn-services {
    border: 2px solid #fff;
  }
  
  #intro .intro-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  /*Partners*/
  
  #container {
    padding: 2px 16px;
  }
  
  .companies #tagline1 {
    margin-top: 24px;
    font-style: normal;
    line-height: normal;
    text-align: center; 
    color: #00366f; 
  }
  
  .companies #tagline2 {
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #00366f; 
  }
  
  .companies #card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .companies #card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .companies #card h4 {
    vertical-align: bottom;
    text-align: center; 
  }
  
  /*Footer*/
  
  #footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ecf5ff;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }