<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-white">
  <a class="navbar-brand" routerLink="/" style="margin-left: 20px">QuizUp</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/partners">Партнеры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/quiz">Тест</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/profile">Профайл</a>
      </li>
    </ul>
  </div>
</nav>