<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/quiz.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<section id="intro" class="mb-4" style="background-image: url(../../assets/img/intro-bg.png)">
  <div class="container col-xl-7 col-lg-7 col-md-8 col-sm-9 col-10">
      <div class="row justify-content-center text-light mb-3 mt-1">  
          <h4 class="card-title text-center">Информатика и приставки СИ</h4>
    </div>


    <div class="row justify-content-center text-light mb-3 mt-1">  
          <h3 class="card-title text-center">Счет 8/10</h3>
    </div>

    <div class="row card shadow p-4 bg-white justify-content-center">
        <div class="card-body">
            <h5 class="card-title text-center mt-3">Выберите приставку, обозначающую самую наибольшую величину среди перечисленных</h5>
        </div>
    </div>
    

    <div class="row justify-content-center mt-5">   
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">Мили</button>
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">Санти</button> 
    </div>

    <div class="row justify-content-center">   
      <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">Пета</button>
      <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">Мега</button> 
    </div>
  </div>
</section>