<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section>
  <div class="container">
    <div class="col-md-12 text center hoverable">
      <div class="panel panel-default">
        <div class="userprofile social">
          <div class="userpic"> 
            <img src="../../assets/img/alinur.jpg" alt="" class="userpicimg"> 
          </div>
          <h3 class="username text-center">Alinur Sabit</h3>
          <p class="text-center">Project Manager</p>
          <div class="socials text-center"> <a href="" class="btn btn-circle btn-primary ">
            <i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">
            <i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">
            <i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning ">
            <i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-md-12 border-top border-bottom" style="margin-top: 50px;">
            <ul class="nav nav-pills pull-left countlist" role="tablist" style="display: flex; justify-content: auto;">
              <li role="presentation">
                <h3>120<br>
                  <small>Points</small> </h3>
              </li>
              <li role="presentation">
                <h3>10<br>
                  <small>Quiz's taken</small> </h3>
              </li>
              <li role="presentation">
                <h3>5<br>
                  <small>Friends</small> </h3>
              </li>
            </ul>
            <button class="btn btn-primary userbtn">Friend</button>
            <button class="btn btn-primary userbtn">Cart</button>
          </div>
      </div>
    </div>
  </div>
</section>
