<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">

<section>
    <div class="container">
      <div class="companies">
        <h1 id="tagline1">Мы работаем с различными компаниями</h1>
        <h2 id="tagline2">У которых вы можете получить множество всяческих бонусов</h2>
  
        <div class="row">

          <div class="col-md-3" id="card">
            <img src="../../assets/img/kfc.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>KFC</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/dodo.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>DODO PIZZA</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/macdac.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>McDonald's</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/nike.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>NIKE</b></h4> 
            </div>
          </div>
          
          <div class="col-md-3" id="card">
            <img src="../../assets/img/reebok.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Reebok</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/puma.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>PUMA</b></h4>
            </div>
          </div>
        
          <div class="col-md-3" id="card">
            <img src="../../assets/img/tba.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>TBA</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/tba.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>TBA</b></h4> 
            </div>
          </div>

          <div class="col-md-3" id="card">
            <img src="../../assets/img/tba.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>TBA</b></h4> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
