<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">

<section id="intro" class="clearfix">
    <div class="container">
      
      <div class="intro-img">
        <img src="../../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>
      
      <div class="intro-info">
        <h2>Хорош в программировании? <br> В чём-то другом ? <br> Проверь свои знания на нашем сайте! </h2>
        <div>
          <a href="profile.html" class="btn-get-started scrollto">Начать!</a>
          <a href="#about" class="btn-get-started scrollto">О чем сайт?</a>
        </div>
      </div>
      
    </div>
  </section>
