<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Наша команда</h3>
          <p></p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../../assets/img/rinat.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Сабитов Ринат</h4>
                  <span>FrontBack разработчик</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 " data-wow-delay="0.1s">
            <div class="member">
              <img src="../../assets/img/eldan.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Самархан Елдан</h4>
                  <span>FrontBack разработчик</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../../assets/img/alinur.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Сабит Алинур</h4>
                  <span>Менеджер проекта</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../../assets/img/alisher.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Халыкбаев Алишер</h4>
                  <span>FrontBack разработчик</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>