#footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
    position: relative; 
    margin-bottom: 0;
    clear:both;
  }
  
  #footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ecf5ff;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }