<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 footer-info">
          <h3>QuizUp</h3>
          <p class="col-md-11">  - веб сервис, в котором пользователи с помощью тестов могут проверить свои знания в различных сферах, 
            устроить соревнование с друзьями, копить баллы и покупать скидки в компаниях-партнерах</p>
          </div>
          <div class="col-lg-4 col-md-12 footer-links">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><a routerLink="/">О нас</a></li>
              <li><a routerLink="/partners">Партнеры</a></li>
              <li><a routerLink="/registration">Вход/Регистрация</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Связаться с нами</h4>
            <p>Толе Би 59
              Алматы, 050000<br>
              Казахстан <br>
              <strong>Phone:</strong> +7-(777)-777-77-77<br>
              <strong>Email:</strong> quizup@gmail.com<br>
            </p>
            <!-- <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>QuizUp</strong>. All Rights Reserved
      </div>
    </div>
  </footer>