<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Создать Аккаунт</h4>

      <p class="text-center">Начните вашим бесплатным аккаунтом</p>
      <p>
        <a routerLink="/profile" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Войти через Google   </a>
      </p>
      <p class="divider-text">
          <span class="bg-light">ИЛИ</span>
      </p>

      <form>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="ФИО" type="text">
        </div>
        
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Email адресс" type="email">
        </div> 
        
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
              <option selected="">+7</option>
              <option value="1">+380</option>
              <option value="2">+375</option>
              <option value="3">+998</option>
              <option value="3">+992</option>
          </select>
          <input name="" class="form-control" placeholder="Номер телефона" type="text">
        </div> 
        
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select class="form-control">
            <option selected=""> Выберите род деятельности</option>
            <option>Студент</option>
            <option>Безработный</option>
            <option>Трудоустроенный</option>
          </select>
        </div> 
          
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
            <input class="form-control" placeholder="Придумайте пароль" type="password">
        </div> 
          
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Повторите пароль" type="password">
        </div>                                     
        
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"><a routerLink="/profile"></a> Создать Аккаунт </button>
        </div>    
        <p class="text-center">Есть аккаунт? <a routerLink="/profile">Вход</a> </p>                                                                 
      </form>
    </article>
  </div> 
  
</div> 
