html, body {
  margin: 0 !important;
  padding: 0 !important;
}
.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
  }
  
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
  }
  
  #about {
    background: #F8F8F8;
    padding: 60px 0;
  }
  
  #about .about-container .background {
    margin: 20px 0;
  }
  
  #about .about-container .content {
    background: #F8F8F8;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #F8F8F8;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
 
  
  #about .about-container .icon-box .icon i {
    color: #007bff;
    font-size: 24px;
  }
  
  #about .about-container .icon-box:hover .icon {
    background: #007bff;
  }
  
  #about .about-container .icon-box:hover .icon i {
    color: #F8F8F8;
  }
  
  #about .about-container .icon-box .title {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  #about .about-container .icon-box .title a {
    color: #283d50;
  }
  
  #about .about-container .icon-box .description {
    line-height: 24px;
    font-size: 14px;
  }
  
  #about .about-extra {
    padding-top: 60px;
  }
  
  #about .about-extra h4 {
    font-weight: 600;
    font-size: 24px;
  }