<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">

<section id="about">
    <div class="container">
      
      <header class="section-header">
        <h3>О сайте</h3>
        <p></p>
      </header>
      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            На сайте Вы сможете проверить свои знания в разных учебных дисциплинах, получать очки за правильные ответы, соревноваться с друзьями и многое другое!
          </p>
          <div class="icon-box">
            <h4 class="title"><a href="profile.html"> Зарегистрируйся, чтобы начать !</a></h4>
            <p class="description">Привяжи свой аккаунт Google или создай вручную свой профайл.</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="quiz.html"> Соревнуйся и стань лучшим!</a></h4>
            <p class="description">Докажи всем своим друзьям, кто более эрудирован в определенной теме!</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="partners.html"> Используй заработанные очки!</a></h4>
            <p class="description">Заработанные очки можно будет обменять на скидочные купоны у компаний-партнеров.</p>
          </div>
        </div>
        <div class="col-lg-6 background order-lg-2">
          <img src="../../assets/img/about-img.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section> 